/** main css file **/

body {
	padding: 3em;
}


/* accordian module */

.accordian-reveal {
	position: absolute;
	top: 0;
	right: 0;
}

.accordian-reveal._show ~ .accordian-content {
	display: block;
}

.accordian-item {
	position: relative;
}

.accordian-content {
	display: none;
}