<!DOCTYPE html>
<!--[if lt IE 7]>	  <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>		 <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>		 <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.3/css/foundation.min.css">
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body ng-app="exploreAngular">
		<section class="accordian" ng-controller="accordianController">
			<div class="accordian-item">
				<h1 id="trying-out-expressions" class="accordian-title">Trying out expressions</h1>
				<button ng-model="accordians" class="accordian-reveal"  ng-click="accordians = !accordians">+</button>
				<hr>
				<article ng-show="accordians" class="accordian-content">
					<p>This is your first angular expression: {{ 1 + 2 }}</p>
					<p>This is your second angular expression: {{ 7/67 }}</p>
					<p>This is your Third angular expression: {{ 4.2E5 }}</p>
					<p>This is your fourth angular expression: {{ "\u2665" }}</p>
					<p>This is your fifth angular expression: {{ [1, 2, 3] }}</p>
				</article>
			</div>
			<div class="accordian-item">
				<h1 id="binding-some-data" class="accordian-title">Binding some Data</h1>
				<button ng-model="accordians" class="accordian-reveal"  ng-click="accordians = !accordians">+</button>
				<hr>
				<article ng-show="accordians" class="accordian-content">
					<label>Type something into the input</label>
					<input type="text" ng-model="data.message">
					<p>{{data.message}}</p>
					<input type="text" ng-model="data.foundation_component">
					<div class="{{data.foundation_component}}">
						wrap me with a foundation component
					</div>
				</article>
			</div>
		</section>
		<script src="js/main.js"></script>
	</body>
</html>
